<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OpenTab</title>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <nav>
    <div class="logo"><a href="/">OpenTab</a></div>
    <ul class="nav-links">
      <li class="page-link"><a href="/users/register">Sign Up</a></li>
      <li class="page-link"><a href="/users/login">Login</a></li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <div class="picture-container">
    <div class="picture"></div>
    <div class="text-container">
      <div class="text">
        <h1 style="font-size: 50px;">Shake it up and order up with OpenTab!</h1>
        <p>Expand your business and boost sales!</p>
        <button class="sign-up-button" type="button" onclick="window.location.href='/users/register'">
          Start your tab today!
        </button>
      </div>
    </div>
  </div>

  <div class="business-container">
    <div class="business-info">
      <h2>
        Fill up drinks the best way possible
      </h2>
      <p>
        Keep the drinks and business flowing by attracting thousands of
        thirsty people who order through our service.
      </p>

      <ul class="business-list">
        <li>Give people the ability to order directly through our app</li>
        <li>
          Minimize contact between staff and guests with payment built into
          the app
        </li>
        <li>Guarantee revenue and more customers</li>
      </ul>
    </div>

    <div class="business-image-container">
      <div class="business-image" />
    </div>
  </div>

  <script src="/js/slide-nav.js"></script>
</body>

</html>