<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OpenTab - Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="login-container">
    <div class="login-info-container"></div>
    <div class="login-input-container">
      <div class="login-input-title-container">
        <h1><a href="/">OpenTab</a></h1>
      </div>
      <form action="/users/login" method="POST" class="login-form" id="loginForm">
        <div class="login-input">
          {{#if message}}
          <p style="color: red;">{{message}}</p>
          {{/if}}
          <input id="email" type="email" placeholder="example@email.com" name="email" required />
          <input id="password" type="password" placeholder="Password" name="password" required />
          <p><a href="#">Forgot Password?</a></p>
          <p><a href="/users/register">Don't have an account? Sign Up!</a></p>
        </div>

        <div class="login-submit">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/slide-nav.js"></script>
</body>

</html>