<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OpenTab - Orders</title>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <nav id="manageNav">
    <div class="manageLogo">
      <h1>OpenTab</h1>
    </div>
  </nav>

  <div class="manage-container">
    <div class="side-nav">
      <a href="/menu">
        <div class="side-nav-item">
          Menu
        </div>
      </a>
      <a>
        <div class="side-nav-item" style="background-color: rgb(221, 221, 221);">
          Orders
        </div>
      </a>
      <a href="/invoice">
        <div class="side-nav-item">
          Invoice
        </div>
      </a>
      <a href="/account">
        <div class="side-nav-item">
          Account
        </div>
      </a>
      <a href="/">
        <div class="side-nav-item">
          Sign Out
        </div>
      </a>
    </div>

    <div class="orders-container">
      <div class="menu-nav">
        <div>
          <h3>Today's Orders</h3>
        </div>
      </div>

      <!------------------------>
      <!------ ORDERS LIST ----->
      <!------------------------>
      <div class="order-items-container">
        <div class="items-section">
          <div class="section-title">
            <h2>Current</h2>
          </div>

          <div class="items-list">
            <div class="order-item">
              <div class="order-id">
                <h3>Order#1235412</h4>
              </div>

              <div class="customer-name">
                <h4>Cam Liddell</h4>
              </div>

              <div class="ordered-items">
                <h4>Ordered Items:</h4>

                <div class="ordered-items-list">
                  <p>2x Budlight</p>
                  <p>1x Fries</p>
                  <p>1x Angry Orchard</p>
                </div>

                <div class="order-total">
                  <h4>Total: $14.00</h4>
                </div>
              </div>

              <div class="order-note">
                <h4>Note:</h4>
                <p>Please put extra ketchup on the side!</p>
              </div>

              <div class="control-order">
                <h3>FINISH ORDER</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="items-section">
          <div class="section-title">
            <h2>Pending</h2>
          </div>

          <div class="order-item">
            <div class="order-id">
              <h3>Order#1239544</h3>
            </div>

            <div class="customer-name">
              <h4>Cam Liddell</h4>
            </div>

            <div class="ordered-items">
              <h4>Ordered Items:</h4>

              <div class="ordered-items-list">
                <p>2x Budlight</p>
              </div>

              <div class="order-total">
                <h4>Total: $6.00</h4>
              </div>
            </div>

            <div class="order-note">
              <h4>Note:</h4>
              <p>None</p>
            </div>

            <div class="control-order">
              <h3>START ORDER</h3>
            </div>
          </div>
        </div>

        <div class="items-section">
          <div class="section-title">
            <h2>Completed</h2>
          </div>

          <div class="items-list">
            <div class="order-item">
              <div class="order-id">
                <h3>Order#1239544</h3>
              </div>

              <div class="customer-name">
                <h4>Cam Liddell</h4>
              </div>

              <div class="ordered-items">
                <h4>Ordered Items:</h4>

                <div class="ordered-items-list">
                  <p>2x Budlight</p>
                </div>

                <div class="order-total">
                  <h4>Total: $6.00</h4>
                </div>
              </div>

              <div class="order-note">
                <h4>Note:</h4>
                <p>None</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/slide-nav.js"></script>
</body>

</html>